/* Genel Stil Tanımlamalarım */
body {
    /* Arka Plan: #f4f4f4 (açık gri) */
    background-color: #f4f4f4; 
    /* Yazı Tipi: Arial, sans-serif */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6; 
    color: #666; 
}

/* Başlık ve Footer Stilim */
.main-header, .main-footer {
    /* Başlık ve Footer Rengi: #333 (koyu gri) */
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.main-header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Footer Metin Stili */
.main-footer p {
    margin: 0;
    font-size: 0.8em;
}

/* Navigasyon Menüsü Stilim */
.main-nav ul {
    list-style: none;  
     padding: 0;
    margin: 0;
    display: flex; /* Öğeleri yan yana dizer */
    justify-content: center; /* Ortalar */
    background-color: #444;  
}

.main-nav li a {
     
    display: block;
    padding: 15px 20px;
    text-decoration: none;  
    color: white; 
    font-weight: bold;
}

 
.main-nav li a:hover,
.main-nav li a:focus {
    background-color: #555;
}

/* Başlık (h1, h2, h3) Rengi */
h1, h2, h3 {
    color: #333;
}

/* Sayfa İçeriği Alanım */
.container {
    max-width: 960px;
    margin: 20px auto;  
    padding: 0 20px;
}

/* Blog Gönderisi Özetim (Kart Stili) */
.post-summary, .full-post {
     
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    
    /* Yuvarlatılmış köşeler */
    border-radius: 8px; 
    
    /* Gölge efekti */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Tam blog gönderisi için başlık stilim */
.full-post h1 {
    font-size: 2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 0;
}

/* Tamamını Oku bağlantısı */
.post-summary a {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;  
    text-decoration: none;
    font-weight: bold;
}

.post-summary a:hover {
    text-decoration: underline;
}

/* Paragraf Metin Rengim */
.post-summary p, .full-post p, .full-post ul {
    color: #666;
}



/* Banner Görseli Stilim */
.banner-image {
    text-align: center;  
    margin-bottom: 20px;  
}

.banner-image img {
    max-width: 100%; 
    height: auto;    
    display: block;  
    margin: 0 auto;  
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}


 
.post-image {
    text-align: center; 
    margin: 20px 0;  
}

.post-image img {
    max-width: 100%; 
    height: auto;
    border-radius: 6px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    display: block;
    margin: 0 auto;
}